.speech {
    font-family: monospace;
    font-size: 15px;
    color: black;
}
.direction {
    font-family: 'Courier New';
    font-size: 15px;
    color: black;
    background-color: lightyellow;

}
.direction:hover{
    background-color: lightblue;
    color: brown;
}

.name{
    color:black;
}
.berta {
    font-family: 'Times New Roman';
    font-size: 15px;
    color: blueviolet;
    background-color: lightcyan;


}
.tesman{
    font-family: Times, serif;
    font-size: 15px;
    color: brown;
    background-color: lightblue;

}
.hedda{
    font-family: Times, serif;
    font-size: 15px;
    color: green;
    background-color: lightblue;

}
table {
    border:2px black;
    color:green;
    text-align: center;
    padding: 2px;
    margin: 3px;

}
td, th {
    border: solid 1px ;
    text-align: center;}
th{
    background-color: lightblue;
}

tr:nth-child(even)
    {background-color: lightsalmon;}
.name:hover {
    text-shadow:2px 3px 5px green;
    border: 2px lightblue;
}
  ul.navbar{

    width:100 px;
    background-color:beige;
    }
    
    ul.navbar li {
        display: inline;
        margin-right: 30px;
    }
    
    ul.navbar a {
        display: inline;
        text-decoration: none; 
        color:black;
        font-weight: bold;
    }
    
    
    ul.navbar a:hover {
        color: #FF5733;
    }
    
    .container {
        text-align: center; /* Center the image horizontally */
        margin: 20px; /* Add spacing around the image container */
    }
    
    img{
        max-width: 100%; 
        height: auto;
        border: 2px solid grey;
        box-shadow: 0 0 10px black;
    }